<ng-container *ngIf="commentaries">
  <ng-container *ngFor="let commentary in commentaries">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-start align-items-center">
                <h6 class="fw-bold text-primary mb-1">{{commentary.user.name}}</h6>
                <p class="text-muted small mb-0">{{commentary.note}}</p>
              </div>
              <p class="mt-3 mb-4 pb-2">{{commentary.text}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
