<ng-container *ngIf="restaurant">
    <div class="container my-2">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-start align-items-center justify-content-between">
                <div>
                  <p class="fw-bold text-primary mb-1 h6">{{restaurant.label}}</p>
                </div>
              </div>
              <hr/>
              <ng-container *ngIf="information == 'Menu'; else paragraph">
                <img [src]="informationToDisplay" alt="menu">
              </ng-container>
              <ng-template #paragraph>
                <p class="mt-3 mb-4 pb-2">{{informationToDisplay}}</p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
</ng-container>
