<ng-container *ngIf="displaySorting">
  <app-category (category)="categoryChange($event)"></app-category>
  <section id="list-restaurant" class="w-90 mx-auto mt-2">
    <form class="d-flex mb-5">
      <div class="input-group input-group-lg">
        <span class="input-group-text bg-primary" id="input-restaurant-name">Nom du restaurant</span>
        <input type="text" class="form-control" (input)="labelChange($event)" placeholder="trad a faire : nom" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      </div>
      <div class="input-group input-group-lg">
        <span class="input-group-text bg-primary" id="input-restaurant-city">Ville du restaurant</span>
        <input type="text" class="form-control" (input)="cityChange($event)"  placeholder="trad a faire : ville" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      </div>
    </form>
  </section>
</ng-container>
<ng-container *ngIf="restaurants">
  <section>
    <div class="d-flex flex-wrap align-items-start justify-content-center">
      <ng-container *ngIf="commentaries">
        <ng-container *ngFor="let restaurant of restaurants$ | async">
          <app-restaurant-card [restaurant]="restaurant" [commentaries]="commentaries"></app-restaurant-card>
        </ng-container>
      </ng-container>
    </div>
  </section>
</ng-container>
