<app-category (category)="categoryChange($event)"></app-category>
<section id="list-restaurant" class="w-90 mx-auto mt-2">
  <form class="d-flex mb-5">
    <div class="input-group input-group-lg">
      <span class="input-group-text bg-primary" id="input-restaurant-name">Nom du restaurant</span>
      <input type="text" class="form-control" (input)="labelChange($event)" placeholder="trad a faire : nom" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>
    <div class="input-group input-group-lg">
      <span class="input-group-text bg-primary" id="input-restaurant-city">Ville du restaurant</span>
      <input type="text" class="form-control" (input)="cityChange($event)"  placeholder="trad a faire : ville" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>
  </form>
  <ng-container *ngIf="restaurants">
    <ng-container *ngFor="let restaurant of restaurants$ | async">
      <div class="card text-center" style="width: 20rem;">
        <a href="restaurant/home/{{restaurant.id_restaurant}}" class="text-decoration-none">
        <img src="{{restaurant.image}}" class="card-img-top" alt="{{restaurant.label}}">
          <div class="card-body text-decoration-none">
            <h5 class="card-title text-decoration-none">{{restaurant.label}}</h5>
            <p class="card-text text-decoration-none">{{restaurant.description}}</p>
          </div>
        </a>
      </div>
    </ng-container>
  </ng-container>
</section>
