 <ng-container *ngIf="commentary">
    <div class="container my-2">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-start align-items-center justify-content-between">
                <div>
                  <a class="fw-bold text-primary mb-1 h6" [href]="'profile/'+commentary.user.id_user">{{commentary.user.nickname}}</a>
                  <p class="fw-bold text-primary mb-1 h6">Le {{commentary.date | date:'dd/MM/yyyy à hh:mm:ss'}}</p>
                </div>
                <star-rating [starType]="'svg'" [rating]="commentary.note" [readOnly]="true" [showHalfStars]="true" [step]="0.5"></star-rating>
              </div>
              <hr/>
              <p class="mt-3 mb-4 pb-2">{{commentary.text}}</p>
              <ng-container *ngIf="user && (user!.id_user == commentary.user!.id_user)">
                <div class="d-flex justify-content-end">
                <button class="btn btn-primary text-white me-3" (click)="modifyCommentary(commentary)">Modifier</button>
                  <button class="btn btn-danger" (click)="deleteCommentary(commentary)">Supprimer</button>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
