/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

$orange: #ff7800;
$primary: $orange;
$theme-colors: (
  "primary": $orange
);
$font-size-base: 0.9rem !default; // Assumes the browser default, typically `16px`
$font-family-sans-serif: Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-weight-normal: 500;

$color-negative-rating: $orange;
$color-ok-rating: $orange;
$color-positive-rating: $orange;
$color-default-rating: $orange;

@import "~mdb-ui-kit/src/scss/bootstrap/bootstrap";
@import '~css-star-rating/scss/star-rating';

.w-90{
  width: 90%;
}



